:host {
  .home-container{
    width: 100%;
    overflow: hidden;
  }

  .top-slider-items {
    display: flex;

    .top-slider-item {
      margin: 10px;

      .item-description {
        padding: 5px;
        color: white;
        font-weight: bold;
        font-size: 17px;

        .item-info {
          font-size: 80%;
        }
      }

      &.focus-active {
        background: white;

        .item-description {
          color: black;
        }
      }
    }
  }
}
